<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Server received</title>
    </head>
    <body>
        <ul>
          <li><strong>Course:</strong> {{ course }}</li>
          <li><strong>ECs:</strong> {{ ec }}</li>
          <li><strong>Teacher:</strong> {{ teacher }}</li>
        </ul>
    </body>
</html>

