<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Finally, my own website</h1>

        <ul>
            {% for course in courses %}
            <li>{{ course }}</li>
            {% endfor %}
        </ul>
    </body>
</html>