<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Courses</title>
    </head>
    <body>
        <h1>Show the courses:</h1>
        <ul>
              <li><a href="/course/theme3">Thema03</a></li>
              <li><a href="{{ url_for('course', course_name='informatics3') }}">Informatics3</a></li>
        </ul>
    </body>
</html>